<% content_for :no_container do %>

<% provide(:title, "How to:") %>

<div class="how_to_container_replies">
	
	<p><b>How to:</b></p>
	<p>Drop.in is a place to find people for activities you like to do.<br>
		Simply reply on others users events and wait for them to invite you,<br>
		or create your own events and let other people respond on them.</p>
		
		<p>This how to has to be updated!</p>
		
	
</div>


<% end %>