<% content_for :no_container do %>

<% provide(:title, "Imprint:") %>

<div class="how_to_container_replies">
	
	<p><b>Imprint:</b></p>
	<p>Max Mustermann GmbH<br>
		Musterstraße 38<br>
		80545 München</p>
		
		<p>Tel: 089 / 34342348-0<br>
			Fax: 089 / 34342348-10</p>
			
			<p>E-Mail: mustermann@mustermann.de</p>
		
	
</div>


<% end %>