<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @receiver %></h1>
	
	<p>User <%= @sender %> committed to the following Event:</p>
	<p><%= @event_short_desc %></p>
	
	<p>&nbsp;</p>
	
	<p>Don't hesitate and visit the site: <a href="http://drop-in.herokuapp.com">Drop.in</a></p>
	
  </body>
</html>