<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact Form:</h1>
	
	<p>User <%= @sender %> sent this Message:</p>
	
	<p>&nbsp;</p>
	
	<p>Topic: <%= @topic %></p>
	
	<p>&nbsp;</p>
	
	<p>Email: <%= @email %></p>
	
	<p>&nbsp;</p>
	
	<p>He wrote: <%= @content %></p>
	
	<p>&nbsp;</p>
		
  </body>
</html>