<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo <%= @receiver %></h1>
	
	<p>Du hast eine neue Anfrage von <%= @sender %> zu folgendem Event:</p>
	<p><%= @event_short_desc %></p>
	
	<p>&nbsp;</p>
	
    <p>Er schrieb:</p>
	<p><%= @message %></p>
	
	<p>&nbsp;</p>
	
	<p>Schau gleich vorbei unter: <a href="http://drop-in.herokuapp.com">Drop.in</a></p>
	
  </body>
</html>