<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @receiver %></h1>
	
	<p>You have a new reply to the following Event:</p>
	<p><%= @event_short_desc %></p>
	
	<p>&nbsp;</p>
	
    <p>User <%= @sender %> replied:</p>
	<p><%= @message %></p>
	
	<p>&nbsp;</p>
	
	<p>Click ---here--- to go to the site...</p>
	
  </body>
</html>