<div class="do_sign_up">
<p><%= link_to "Melde dich an", new_user_registration_path %> um Events zu erstellen und an anderen teilzunehmen.</p><br><p>Falls du schon einen Account hast, bitte <%= link_to "logge dich ein.", new_user_session_path %> <p>
</div>